
.md-typeset h1 {
  /*font-size: 24pt;*/
  color: var(--md-typeset-color);
  font-weight: bold;
  border-bottom: solid 2px hsl(315, 88%, 54%);
  padding-bottom: 5px;
}

.md-typeset h2 {
  border-bottom: 1px dotted #888;
}
.md-typeset h2::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f0a9" !important;
  margin-right: .3em;
}